*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.home{
    display: flex;
    background: plum;
    height: 60px;
    width: 100%;
}
nav{
    
}
label.name{
    color: brown;
    font-size: 20px;
    line-height: 60px;
    padding: 0 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px 450px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 8px;
}
nav ul li a{
    color: brown;
    font-size: 15px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: bisque;
    transition: .5s;
    padding: 2px;
}
.menu-bar{
    display: none;
    font-size: 30px;
    color: brown;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    gap: 20px;
    color: brown;
}
.let{
    display: flex;
    padding: 0px 50px;
    text-align: center;
}
.let p{
    border: solid 2px;
    border-radius: 5px;
    padding: 5px 8px;
}
.link{
    color: brown;
}
.intro-wrapper{
    display: flex;
    font-size: 25px;
    align-items: center;
    background-color: rgb(92, 22, 34);
    color: whitesmoke;
    padding: 20px;
}
.intro{
    display: flex;
    flex-direction: column;
}
.subtittle span{
    color: rgb(223, 159, 107);
}
.image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 10px white solid;
    box-shadow: 0px 5px 10px plum;
    border-radius: 10px;
}
.menu{
    background-color: rgb(92, 22, 34);
    padding: 20px;
}
.menu p{
    color: white;
}
.menu-buttons{
    border: plum 3px solid;
    border-radius: 18px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 500px;
    width: 300px;
}
.about-btns h3{
    color: bisque;
}
.about-btns li{
    padding-left: 20px;
    color: white;
}
.my-services{
    text-align: center;
    color: bisque;
}
.box-wrapper{
    display: flex;
    gap: 20px;
    margin: 30px;
}
.box{
    background-color: rgb(140, 121, 145);
    width: 320px;
    padding: 20px;
    margin: 17px;
    display: flex;
    flex-direction: column
}
.box h2{
    text-align: left;
    color: rgb(248, 202, 146);
}
.box p{
    text-align: left;
}
.box svg{
    color: brown;
    font-size: 40px;
}
h2.project{
    color: bisque;
    text-align: center;
    margin: 30px 50px;
}
.image-wrapper{
    display: flex;
    margin: 30px 150px;
    gap: 30px;
}
.image-project{
    display: flex;
    width: 300px;
    height: 400px;
    background-color: bisque;
    overflow: hidden;
    position: relative;
}
.image-project p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: absolute;
    color: whitesmoke;
    bottom: 70px;
}
.image-project h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: absolute;
    bottom: 30px;
    color: white;

}
.image-project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: all ease-in-out 0.6s;
}
.image-project img:hover{
    transform: scale(1);
    transition: all ease-in-out 0.6s;
    opacity: 0.3;
}
.hire-me{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}
.special{
    color: bisque;
}
input{
    background-color: rgb(92, 22, 34);
    border: bisque 2px solid;
    border-radius: 5px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages{
    height: 170px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
textarea{
    background-color: rgb(92, 22, 34);
    border: bisque 2px solid;
    border-radius: 5px;
    width: 400px;
    height: 100px;    
}
.menu-images{
    display: flex;
}
.contact-image{
    margin: 50px 150px;
}
.submit{
    padding: 20px 10px;
    width: 150px;
    background-color: plum;
    border: none;
    border-radius: 5px;
    color: brown;
    font-size: 15px;
    font-weight: 600;
}
input::placeholder{
    color: plum;
}
textarea::placeholder{
    color: plum;
}
.footer-bar{
    display: flex;
    align-items: center;
    height: 60px;
    gap: 250px;
    background-color: plum;
}
.footer-bar h1{
    padding-left: 50px;
    color: brown;
    font-weight: 600;
    font-size: 22px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-left: 80px;
    color: brown;
}
.icons svg{
    border: solid 2px;
    border-radius: 50px;
    padding: 5px;
    font-size: 28px;
}
.icon-text{
    display: flex;
    padding-left: 300px;
    align-items: center;
    justify-content: center;
    color: brown;
}
.icon-text svg{
    border: none;
    padding-bottom: 0px;
}